@mixin saison_btn {
  font-family: $font-titre;
  margin: auto;
  width: 10%;
  height: 50px;
  color: black;
}

@mixin center-element {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin hidden-element {
  opacity: 0;
  visibility: hidden;
}
