@mixin slide_body {
  position: absolute;
  font-family: $font-titre;
  width: 40%;
  margin: auto;
  height: 50px;
  background: black;
  border-radius: 25px;
  color: white;
}

@mixin episode_container {
  position: absolute;
  font-family: $font-titre;
  width: 100%;
}

@mixin center-element {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin hidden-element {
  opacity: 0;
  visibility: hidden;
}

@mixin slide_photo {
  z-index: 1;
  @include center-element;
  width: 70px;
  height: auto;
  margin: auto;
}

