$premiere-coleur: #e89ac7 ;
$seconde-coleur: #e4a788;
$troisieme-couleur: #45B649;
$header-button-couleur: rgb(69, 182, 73, 0.5);
$quatrieme-couleur: #44281d;
$cinquieme-couleur: #f0e14a;
$font-titre: 'DynaPuff', cursive;