.saison {
  padding: 35px 0px;
  &_btn {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    @include center-element;

    &:hover {
      cursor: pointer;
    }

    &_item {
      font-size: 30px;
      @include saison_btn;
      @include center-element;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.3);
      }
    }
  }
}