.saison_btn {
  width: 90%;
  margin: 35px auto;
  @include center-element;

  &:hover {
    cursor: pointer;
  }

  &_item {
    font-size: 25px;
    @include saison_btn;
    @include center-element;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.3);
    }
  }
}