.saison_episode {
  position: relative;
  @include center-element;

  &_container {
    @include center-element;

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      position: absolute;
      transform: scale(0.6);
      top: 0;
      opacity: 0;
      visibility: hidden;
    }

    &_item {
      // display: flex;
      // justify-content: center;
      // flex-wrap: wrap;
      width: 100%;
      padding: 30px 0px;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 30%;

      overflow-x: auto;
      overscroll-behavior-inline: contain;
      scroll-snap-type: x mandatory;
      // scroll-padding-inline: 1%;

      &::-webkit-scrollbar {
        display: none;
      }

      &_card {
        width: 93%;
        margin: auto;
        // margin: 25px 35px;
        // border-radius: 15px;
        background-color: white;
        scroll-snap-align: center;
        box-shadow: -1px -1px 15px $troisieme-couleur;
        transition: all 0.3s ease-in;

        &:hover {
          cursor: pointer;
          // transform: scale(1.05);
        }


        &_image {
          width: 100%;

          img {
            object-fit: contain;
            // border-radius: 15px 15px 0px 0px;
            width: 100%;
          }
        }

        &_contain {
          // background-color: white;
          padding: 20px;
          // border-radius: 0px 0px 15px 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            margin: 0;
            font-family: $font-titre;
          }
        }
      }
    }
  }
  &_focus_container {
    @include center-element;
    // justify-content: start;

    &_card {

      width: 30%;
      // margin: auto;
      background-color: white;
      scroll-snap-align: center;
      box-shadow: -1px -1px 15px $troisieme-couleur;
      transition: all 0.3s ease-in;

      &_image {
        object-fit: contain;
        width: 100%;
      }

      &_contain {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          margin: 0;
          font-family: $font-titre;
        }
      }
    }
  }
}

.scale {
  transform: scale(1.02);
  background-color: $quatrieme-couleur;
}