.saison_episode {
  position: relative;
  @include center-element;

  &_container {
    @include center-element;

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      position: absolute;
      transform: scale(0.6);
      top: 0;
      opacity: 0;
      visibility: hidden;
    }

    &_item {
      width: 100%;
      padding: 30px 0px;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 25%;
      overflow-x: auto;
      overscroll-behavior-inline: contain;
      scroll-snap-type: x mandatory;

      &::-webkit-scrollbar {
        display: none;
      }

      &_card {
        width: 93%;
        margin: auto;
        background-color: white;
        scroll-snap-align: center;
        box-shadow: -1px -1px 15px $troisieme-couleur;
        transition: all 0.3s ease-in;

        &:hover {
          cursor: pointer;
        }

        &_image {
          width: 100%;

          img {
            object-fit: contain;
            width: 100%;
          }
        }

        &_contain {
          padding: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            margin: 0;
            font-family: $font-titre;
          }
        }
      }
    }
  }

  &_focus {
    position: relative;

    &_title {
      padding-left: 20px;
      margin: 0;
      font-family: $font-titre;
    }

    &_container {
      width: 100%;
      margin: auto;
      padding: 30px 0px;
      display: flex;
      
      &_card {
        position: relative;
        @include center-element;
        margin-left: 15px;
        width: 40%;
        transition: all 0.2s ease-in;

        &_image {
          object-fit: contain;
          width: 100%;
        }

        &_contain {
          position: absolute;
          width: 100%;
          height: 100%;
          @include center-element;
          flex-direction: column;
          background-color: rgb(0, 0, 0, 0.7);
          z-index: 2;

          p {
            margin: 0;
            font-family: $font-titre;
            font-size: 25px;
            color: white;
            line-height: 45px;
          }
        }
      }
      &_button {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &_item {
          width: 60%;
          margin: 20px 0px;
          border: 3px solid $troisieme-couleur;
          border-radius: 15px;
          font-size: 25px;
          font-family: $font-titre;
          transition: all 0.3s ease-in;
          p {
            text-align: center;
            margin: 0px;
            padding: 20px 30px;
          }
          &:hover {
            cursor: pointer;
            background-color: $header-button-couleur;
          }
        }
      }
    }

    &_characters {
      padding-top: 30px;
      width: 100%;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 15%;
      overflow-x: scroll;
      overscroll-behavior-inline: contain;
      scroll-snap-type: x mandatory;
  
      &::-webkit-scrollbar {
        display: none;
      }

      &_title {
        padding-left: 20px;
        margin: 0;
        font-family: $font-titre;
      }

      &_card {
        position: relative;
        cursor: pointer;
        width: 90%;
        margin: auto;
        scroll-snap-align: center;
        
        &_image {
          object-fit: cover;
          width: 100%;

          &:hover ~ .saison_episode_focus_characters_card_contain {
            height: 100%;
            opacity: 1;
          }
        }

        &_contain {
          position: absolute;
          top: 0%;
          width: 100%;
          height: 0%;
          @include center-element;
          background-color: rgb(0, 0, 0, 0.7);
          opacity: 0;
          transition: all 0.3s ease-in;

          
          &:hover {
            height: 100%;
            opacity: 1;
          }

          p {
            margin: 0;
            text-align: center;
            color: white;
            font-family: $font-titre;
            font-size: 18px;
          }
        }
      }
    }
  }
}

.scale {
  transform: scale(1.02);
  background-color: $quatrieme-couleur;
}