.saison_episode {
  position: relative;
  @include center-element;
  flex-wrap: wrap;

  &_container {
    @include center-element;
    margin-bottom: 30px;

    &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
      position: absolute;
      transform: scale(0.6);
      top: 0;
      opacity: 0;
      visibility: hidden;
    }

    &_item {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      &_card {
        width: 25%;
        margin: 25px 35px;
        border-radius: 15px;
        border: 1px solid white;
        box-shadow: -1px -1px 15px white;
        transition: transform 0.3s ease-in;

        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }

        &_image {
          width: 100%;

          img {
            object-fit: contain;
            border-radius: 15px 15px 0px 0px;
            width: 100%;
          }
        }

        &_body {
          background-color: white;
          padding: 20px;
          border-radius: 0px 0px 15px 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            margin: 0;
            font-family: $font-titre;

            &:nth-child(2) {
              color: $quatrieme-couleur;
            }
          }
        }
      }
    }
  }
}